<html>

<head>
	<link href="/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="form">
		<% if (!user) { %>
		<p class="title">Welcome! Please <a class="link" href="/login">log in</a>.</p>
		<% } else { %>
		<p  class="title">Hello, <%= user.username %>. View your <a class="link" href="/profile">profile</a>.</p>
		<% } %>
	</div>
</body>

</html>