  * {
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-color: #000;
    position: relative
  }

  html,
  input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }

  .form {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
  }

  .form.add_user{
    display: none;
  }

  .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 0.1vw solid #fff;
    outline: none;
    padding-bottom: 1vw;
    text-align: center;
    width: 400px;
  }
 
  .title {
    font-size: 150%;
  }

  .usernameInput {
    font-size: 100%;
    letter-spacing: 0.2vw;
  }

  .title,
  .usernameInput {
    color: #fff;
    font-weight: 100;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #e7e7e7;
    color: black;
    border-radius: 4%;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #747474;
    color: white;
  }

  .link {
    color: rgb(85, 85, 163);
    margin-top: 20px;
  }