<html lang="it">

<head>
    <title>Avventura</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/Player/css/style.css" />
    <meta content='maximum-scale=10.0, initial-scale=1.0, width=device-width height=device-height' name='viewport'>

</head>

<body>
    <ul class="pages">
        <!-- CHAT PAGE-->
        <li class="chat page">
            <div class="container-lg">
                <nav class="navbar navbar-light bg-light">
                    <button id="exitChatPage" class="btn btn-outline-secondary">Esci</button>
                    <a class="navbar-brand mb-0 h1" id="chatUser"></a>
                </nav>
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
                <input id="inputMessage" type="text" aria-label="chat text input" class="form-control fixed-bottom"
                    placeholder="Scrivi qui..." />
            </div>
        </li>
        <!-- LOGIN PAGE-->
        <li class="login page">
            <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" aria-label="username text input" type="text" maxlength="14" />
                <h4 class="lead valutatore">Sei il valutatore?</h4>
            </div>
        </li>
        <!-- GROUP PAGE-->
        <li class="group page">
            <div class="container">
                <ul id="groupPage" class="list-group">
                </ul>
            </div>
        </li>
        <!-- ADVENTURE PAGE-->
        <li class="adventure page">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" id='titolo' href="#"></a>
                <a class="navbar-text" href="#">About</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button id="helpRequested" class="btn btn-danger mr-sm-2"> HELP </button>
                        <button id="chatWithEvaluator" class="btn btn-outline-info m-2 my-sm-0"> Chat</button>
                    </form>
                </div>
            </nav>
            <div class="container-fluid">
                <div id="avventura" class="row justify-content-center h-75">
                    <div id="musica">
                        <audio id="player" loop="true">
                            <!--  <embed id="track" loop="true" hidden="true" autostart="true">-->
                            <source id="track" src="" type="audio/ogg">
                        </audio>
                    </div>
                    <!-- SCENA -->
                    <div id="scena" class="col-10 col-md-8 h-100">
                        <div class="row justify-content-center h-100" id="text-holder">
                            <div class="col-10 col-md-8 my-auto">
                                <div id="testo"></div>
                            </div>
                        </div>

                        <div id="widget-holder" class="row justify-content-center h-100">
                            <div class="col-10 col-md-8 my-auto">
                                <div id="widget"></div>
                            </div>
                        </div>

                        <div id="btn-holder">
                            <button id="btn">next</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- ASKING IF THEY ARE THE EVALUATOR THROUGH A MODAL CONTAINING A FORM-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login to admin role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="loginForm">
                    <!-- form with an ID so we can identify it, now includes both the textbox and the button within it -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="modalpass" class="col-form-label">Password:</label>
                            <input type="password" name="modalpass" class="form-control" id="modalpass" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loading visibility" id="loading">
        <div class="loader"></div>
    </div>
    <!--SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/public/Player/js/avventura.js"></script>
</body>

<script>
    var urlStoria = "<%= urlStoria %>"
</script>

</html>