<html>

<head>
	<link href="/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="form">
		<% if (!user) { %>
		<p id="title">Welcome! Please <a href="/login">log in</a>.</p>
		<% } else { %>
		<p  id="title">Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
		<% } %>
	</div>
</body>

</html>