<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Hello World</h1>
    <a class="changepublic">List item 2</a>
    <a class="changeprivate"> List Item 3</a>
    <a href="/logout">Log out</a>
  </body>
  <script>
    
    if (window.localStorage.permanentData) {
      $("a.change").replaceWith(window.localStorage.permanentData);
    }

    $(document).ready(function () {
      $.ajax({
        //change me for server (http://site181993.tw.cs.unibo.it) or localhost (http://localhost:8000)
        url: "http://localhost:8000",
        method: "POST",
      })
        .done(function (data) {
          /*localStorage.setItem("permanentData", data);
          var savedText = localStorage.getItem("permanentData");*/
          $("a.changepublic").replaceWith(data);
          return;
        })
        .fail(function () {
          console.log("failed...");
          return;
        });
    });
  </script>
</html>
