/*
CSS FOR DUMMIES
Se vuoi potrai apportare qualche modifica grafica alla visualizzazione della storia creando un file css che segue questo template 
e inserendolo nella fase di creazione della storia.
Qui sotto abbiamo 4 elementi:
- scena si riferisce a un rettangolo contenente testo, widget e bottone next; un esempio di modifica che puoi apportare è aggiungere 
delle linee di bordo e/o riempimenti
- text-holder è l'area di scena che contiene il testo; essa occuperà nel caso di scena solo testuale, tutta la scena, altrimenti solo
la metà; le modifiche apportabili sono analoghe a quelle della scena
- widget-holder è presente solo quando vi sono dei widget e occupa sempre la metà inferiore della scena; le modifiche apportabili sono
analoghe a quelle della scena
- testo, infine, serve a modificare colore e font del testo presente nelle scene. 

Border-radius serve a arrotondare i bordi nel caso scegliate di mettere uno sfondo colorato, va indicato in percentuale, più è grande
la percentuale, più sarà il raggio dell'arrotondamento, si consiglia di non esagerare (fino a 10% va bene).
Tip: per background-color, se vuoi un colore translucente piuttosto che opaco, impostalo usando rgba(R,G,B,opacity), dove 
opacity = 0 significa che lo sfondo è completamente trasparente mentre opacity = 1 che è opaco.

Ricordate di cancellare gli attributi contenuti nelle parentesi che non vengono utilizzati.
*/

/*Storia*/
#avventura {
    font: 1rem Inconsolata, monospace;
    padding: 2em;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);

    background: repeating-linear-gradient(0deg,
            rgba(black, 0.15),
            rgba(black, 0.15) 1px,
            transparent 1px,
            transparent 2px);
}

#finale,
#inizio,
#descrizione {
    max-height: 40vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 2em;
    text-align: justify;
}

#widget {
    height: 45vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}


#avventura {
    height: 90vh;
}

/* Smartphone */
@media only screen and (max-width: 800px) {
    #avventura {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #descrizione {
        padding: 1em;

    }

    #widget {
        overflow: auto;
    }
}