.scene{
    position: absolute;
    z-index: 9;
    padding: 5px;
    background-color: rgba(200,200,200,0.8);
    text-align: center;
    border: 1px solid #d3d3d3;

    display: inline-block;
    width: auto;
    height: auto;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding:0px;
}

#canvas{
    height: 100%;
    display: inline-block;
    margin: 0px;
    padding:0px;
}

.scenesmenu{
    background-color: pink;
    display: inline-block;
    margin: 0px;
    padding:0px;
}

.header{
    cursor: move;
}

.menuDiv{
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;


}

#aggiungiScena{
    margin-bottom: 10px;
}

.miniNav{
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    text-align: center;

}

.miniNav a{
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

.miniNav .attivato{
    border: 2px solid green;
}


html, body{
    overflow: hidden;
}

#contextMenu{
    position: absolute;   
    background-color: #d3d3d3;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    transform:scale(0);
    transform-origin:top left;
    z-index: 1000;
}

#contextMenu .richiamato{
    transform:Scale(1);
    transition: transform 200 ease-in-out;

}

#contextMenu li{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
#contextMenu li:hover{
    background-color: blue;
    color:white;
}