.scene{
    position: absolute;
    z-index: 9;
    padding: 5px;
    background-color: rgba(200,200,200,0.8);
    text-align: center;
    border: 1px solid #d3d3d3;

    display: inline-block;
    width: auto;
    height: auto;
}

.label-bold{
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding:0px;
}

#canvas{
    height: 100%;
    display: inline-block;
    margin: 0px;
    padding:0px;
}

.rightcontainer{
    background-color: pink;
    display: inline-block;
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

#listGruppi{
    justify-self: end;
    height: 20%;
    margin-top: auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    overflow-y: auto;
}

#scenemenu{
    justify-self: start;
    overflow-y: auto;
    
    background-color: burlywood;
}

.header{
    cursor: move;
    display: inline-block;
    border-radius: 10px;
    width:100%;
    height: 10px;
}

.menuDiv{
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

#aggiungiScena{
    margin-bottom: 10px;
}

.miniNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.miniNav .listItem{
    width: 25%;
    margin:auto;
    
}
.miniNav .listItem:nth-child(2){
    width: 40%;
    
}

#listGruppi .listItem{
    width: 30px;
    height: 30px;
}

.listItem{
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    padding: auto;

}

.attivato{
    border: 2px solid green;
}


html, body{
    overflow: hidden;
}

#contextMenu{
    position: absolute;   
    background-color: #d3d3d3;
    border: 1px solid black;
    border-radius: 5px;
    width:auto;
    transform:scale(0);
    transform-origin:top left;
    z-index: 1000;
}

#contextMenu.richiamato{
    transform:scale(1);
    transition: 200 ease-in-out;

}


#contextMenu li:hover{
    color:red;
}