* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html,
body {
  background-color: white;
  padding-top: 10%;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
  word-wrap: break-word;
}

/* Pages page */

.chat.page {
  display: none;
}

.data.page {
  display: none;
}

#answerForm {
  display: none;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */


.chatArea {
  height: 100%;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.message {
  display: flex;
  justify-content: flex-start;
  word-break: break-word;
}

.message.evaluator{
  justify-content: flex-end;
}

.messageBody {
  margin: 20px;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-family: arial;
  position: relative;
}

div.eval:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

div.player:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

/* Chrome and such*/
.messages::-webkit-scrollbar {
  display: none;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

#users,
.progress,
.container-fluid .container {
  margin-top: 60px;
}