.ui-button {
	height: 2em;
	width: 80%;
}

.nonselectable {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
	cursor: pointer;
}

.card-body div {
	padding: 0.4em;
}

.item-container img,
.list-group-item img {
	width: 20px;
	height: 20px;
	margin: 2px;
}

.container-fluid .row {
	border: none;
	border-top: 0.1vw solid #000;
	/*padding-top: 5%;*/
}